# Map
- Função que aplica uma função a todos os itens de um iteravel (uma lista, por exemplo)
- É uma maneira eficiente e consisa de transformar dados.

In [4]:
def quadrado(x):
    return x ** 2

In [6]:
numeros = [1, 2, 3, 4, 5]

Forma antiga

In [8]:
resultado = []
for n in numeros:
    resultado.append(quadrado(n))

print(resultado)

[1, 4, 9, 16, 25]

Com o Map

In [ ]:
resultados = list(map(quadrado, numeros)) # Parâmetros: função e iteravel

print(resultados)

[1, 4, 9, 16, 25]

Converter para Fahrenheit

In [11]:
def celsius_para_fahrenheit(c):
    return (c * 9/5) + 32

In [12]:
temperaturas_celcius = [0, 20, 37, 100]

In [13]:
temperaturas_fahrenheit = list(map(celsius_para_fahrenheit, temperaturas_celcius))

In [14]:
temperaturas_fahrenheit

[32.0, 68.0, 98.6, 212.0]

Uso de lambda

In [15]:
lista = [3, 4, 5, 6, 7]

dobro = list(map(lambda x : x * 2, lista))

print(dobro)

[6, 8, 10, 12, 14]

Normalizar nomes

In [25]:
def nomalizar_nomes(nome):
    return nome.strip().capitalize()

In [26]:
nomes = [" Ana", "João", "MARIA ", "pedro", "LUcAs    "]

In [27]:
nomes_normalizados = list(map(nomalizar_nomes, nomes))

In [28]:
nomes_normalizados

['Ana', 'João', 'Maria', 'Pedro', 'Lucas']