# Manipulação de Planilhas

- Pandas: manipulação de arquivos, dados, etc...
- XLSX: arquivos de planilhas
- Openpyxl também ajuda

Arquivo = WorkBook
Abas == WorkSheet

In [1]:
import pandas as pd
import numpy as np

In [20]:
dados_aba1 = {
    "ID" : [1, 2, 3, 4, 5],
    "Nome" : ["Ana", "Carlos", "Lucas", "Fernanda", "Mariana"],
    "Idade" : [23, 30, 25, 28, 22],
    "Cidade" : ["São Paulo", "Rio de Janeiro", "Curitiba", "Porto Alegre", "Salvador"]
}

dados_aba2 = {
    "ID" : [6, 7, 8, 9, 10],
    "Nome" : ["João", "Beatriz", "Rafael", "Camila", "Mateus"],
    "Idade" : [27, 24, 31, 26, 29],
    "Cidade" : ["Fortaleza", "Manaus", "Recife", "Brasília", "Belo Horizonte"]
}

dados_aba3 = {
    "ID" : [11, 12, 13, 14, 15],
    "Nome" : ["Sofia", "Pedro", "Juliana", "Ricardo", "Larissa"],
    "Idade" : [21, 35, 28, 32, 26],
    "Cidade" : ["Florianópolis", "Goiânia", "Belém", "Campinas", "Vitória"]
}

dados_aba4 = {
    "ID" : [16, 17, 18, 19, 20],
    "Nome" : ["Gabriel", "Patrícia", "Thiago", "Vanessa", "André"],
    "Idade" : [34, 23, 27, 30, 25],
    "Cidade" : ["Natal", "João Pessoa", "São Luís", "Maceió", "Cuiabá"]
}

dados_aba5 = {
    "ID" : [21, 22, 23, 24, 25],
    "Nome" : ["Isabela", "Henrique", "Paula", "Fábio", "Carolina"],
    "Idade" : [22, 29, 24, 33, 28],
    "Cidade" : ["Londrina", "Campo Grande", "Teresina", "Aracaju", "Macapá"]
}

### Criar um DataFrame

- Dataframe: Conjunto tabular de dados do Pandas

In [22]:
df_aba1 = pd.DataFrame(dados_aba1)
df_aba2 = pd.DataFrame(dados_aba2)
df_aba3 = pd.DataFrame(dados_aba3)
df_aba4 = pd.DataFrame(dados_aba4)
df_aba5 = pd.DataFrame(dados_aba5)

In [8]:
caminho_arquivo = "dados/clientes.xlsx"

- Instanciar um Writer de Excel usando uma engine
- Exportar o dataframe como um arquivo Excel

In [25]:
with pd.ExcelWriter(caminho_arquivo, engine="openpyxl") as writer: #Abre e fecha automaticamente a conexão
    df_aba1.to_excel(writer, sheet_name="Aba1", index=False) # index = False para não exportar o index junto
    df_aba2.to_excel(writer, sheet_name="Aba2", index=False) # index = False para não exportar o index junto
    df_aba3.to_excel(writer, sheet_name="Aba3", index=False) # index = False para não exportar o index junto
    df_aba4.to_excel(writer, sheet_name="Aba4", index=False) # index = False para não exportar o index junto
    df_aba5.to_excel(writer, sheet_name="Aba5", index=False) # index = False para não exportar o index junto

In [10]:
print(f"Arquivo criado em {caminho_arquivo}")

Arquivo criado em dados/clientes.xlsx

---
## Manipular de Planilha existente

### Leitura

In [21]:
tb_clientes = pd.read_excel(caminho_arquivo, sheet_name="Aba1") # Sheetname

tb_clientes #type: Dataframe

   ID      Nome  Idade          Cidade
0   1       Ana     23       São Paulo
1   2    Carlos     30  Rio de Janeiro
2   3     Lucas     25        Curitiba
3   4  Fernanda     28    Porto Alegre
4   5   Mariana     22        Salvador

In [34]:
tb_clientes = pd.read_excel(caminho_arquivo, sheet_name="Aba1", index_col="ID") # ID agora é o index do DataFrame

tb_clientes #type: Dataframe

        Nome  Idade          Cidade
ID
1        Ana     23       São Paulo
2     Carlos     30  Rio de Janeiro
3      Lucas     25        Curitiba
4   Fernanda     28    Porto Alegre
5    Mariana     22        Salvador

In [19]:
tb_clientes = pd.read_excel(caminho_arquivo, sheet_name="Aba1", usecols=[1, 2]) # Pegar colunas expecíficas, index da coluna

tb_clientes #type: Dataframe

       Nome  Idade
0       Ana     23
1    Carlos     30
2     Lucas     25
3  Fernanda     28
4   Mariana     22

In [40]:
tb_clientes = pd.read_excel(caminho_arquivo, sheet_name=None, usecols=[1, 2]) # Pegar colunas expecíficas, index da coluna

tb_clientes #type: dict

{'Aba1':        Nome  Idade
 0       Ana     23
 1    Carlos     30
 2     Lucas     25
 3  Fernanda     28
 4   Mariana     22,
 'Aba2':       Nome  Idade
 0     João     27
 1  Beatriz     24
 2   Rafael     31
 3   Camila     26
 4   Mateus     29,
 'Aba3':       Nome  Idade
 0    Sofia     21
 1    Pedro     35
 2  Juliana     28
 3  Ricardo     32
 4  Larissa     26,
 'Aba4':        Nome  Idade
 0   Gabriel     34
 1  Patrícia     23
 2    Thiago     27
 3   Vanessa     30
 4     André     25,
 'Aba5':        Nome  Idade
 0   Isabela     22
 1  Henrique     29
 2     Paula     24
 3     Fábio     33
 4  Carolina     28}

---
### Atividade 1

In [36]:
import os

In [41]:
def escrever_planilha(df_planilha, nome_planilha, nome_aba="Aba1"):
    pasta_saida = "dados/planilhas"
    
    if not os.path.exists(pasta_saida):
        os.makedirs(pasta_saida)

    with pd.ExcelWriter(f"{pasta_saida}/{nome_planilha}.xlsx", engine="openpyxl") as planilha:
        df_planilha.to_excel(planilha, nome_aba, index=False)

In [38]:
def salvar_em_planilhas(lista_dfs):
    for index, df in enumerate(lista_dfs):
        escrever_planilha(df, f"Clientes{index + 1}")

In [39]:
salvar_em_planilhas([df_aba1, df_aba2, df_aba3, df_aba4, df_aba5])

C:\Users\eduar\AppData\Local\Temp\ipykernel_6448\2276930469.py:7: FutureWarning: Starting with pandas version 3.0 all arguments of to_excel except for the argument 'excel_writer' will be keyword-only.
  df_planilha.to_excel(planilha, nome_aba, index=False)

---
### Atividade 2

In [ ]:
from pathlib import Path


def consolidar():
    pasta_consolidada = "dados/planilhas_consolidadas"

    if not os.path.exists(pasta_consolidada):
        os.makedirs(pasta_consolidada)

    caminho_consolidado = os.path.join(pasta_consolidada, "clientes.xlsx")

    with pd.ExcelWriter(caminho_consolidado) as consolidada:
        for arquivo in Path("dados/planilhas").glob("*.xlsx"): #glob pega todos os arquivos da pasta com extensão passada
            tabela = pd.read_excel(arquivo)
            tabela.to_excel(consolidada, sheet_name=arquivo.stem, index=False) # .stem é o nome do arquivo sem a extensao

consolidar()